body {
    font-family: Arial;
    font-size: 15px;
    background-color: #c9e3ec;
}
div.container {
    padding: 0px 0px 0px 0px;
    position: relative;
    background-color: yellow;
}
footer {
    font-weight: bold;
    background-color:#80aab7;
    color: #c9e3ec;
    padding: 7px 20px;
    margin: 3em -20px 0 -20px;
}
img{
    border:2px solid #80aaa7;
    position: absolute;
    top:10px;
}
h1 {
    position: relative;
    top: 5px;
    left: 55px;
}
