h1 {
    background-color: grey;
}

.NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;}

.NavBar li {
    float: left;}

.NavBar a:link, a:visited {
    display: flow;
    width: 100px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;}
img {
    float: right;
    margin: 5px;
}
table{
    text-align: justify;
}
h2 {
    font-size: 25px;
}
a:link, a:visited{
    display: flow;
    width: 100px;
    font-size: 25px;
    font-weight: bold;
}