body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-size: 15px;
}
header {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0px;
    border: 1px solid;
    background-color: #51e2f5;
}
aside {
    position: absolute;
    height: 100%;
    width: 200px;
    top: 102px;
    background-color: #ffa8B6;
    border: 1px solid;
}
main {
    position: absolute;
    top: 102px;
    left: 203px;
    border: 1px solid;
    height: 100%;
    padding-left: 10px;
}