* {
    font-family: "Arial Black";
    font-size: 14px;
    color: #581845;
    background: #FFC30F;
}
h2 {
    font-size: 26px;
    color: black;
    font-family: "Comic Sans MS";
}
.stage_direction{
    color: #C70039;
    font-size: 18px;
    background-color: yellow;
}
#call-out{
    color: darkred;
    font-size: .5rem;
}
p{
    text-indent: 5px;
}